
test "$?BASH_VERSION" = "0" || eval 'setenv() { export "$1=$2"; }'

setenv ROOT /data/maple

setenv PROTOBUF_HOME /usr
setenv MAPLE_HOME $ROOT/maple
setenv PIN_HOME $ROOT/pin

setenv PATH $MAPLE_HOME/script:$PATH


