#!/bin/bash

# e.g. /data/sctbench
export ROOT=/vagrant

export cluster=0

export PROTOBUF_HOME=/usr
export MAPLE_HOME=$ROOT/maple
export PIN_HOME=$ROOT/pin

export PATH=$MAPLE_HOME/script:$ROOT/scripts:$PATH

