.pmeta_bubble_bg { background: #e5ecf9; margin-bottom: 0.6em;}

.pmeta { text-align:left;}
.pmeta th, .pmeta td { vertical-align:top; }
.pmeta ul { padding:0; margin:0; }
.pmeta li { padding: 0 0 2px 0; list-style-type:none; }

#wikicontent h3, #wikipreview h3 {
  background: none;
  border: 0;
  padding-left:0;
  margin: 0;
}

#wikicontent p, #wikicontent ul, #wikicontent ol, #wikicontent blockquote {
  max-width: 65em;
}

#wikicontent ul, #wikicontent ol { padding-left: 40px; }

#wikicontent tt { font-size: 120%; }

a.section_anchor {  display: none; text-decoration: none; margin-left: .7em; font-weight: lighter; font-size: 85%; }
h1:hover a.section_anchor, h2:hover a.section_anchor, h3:hover a.section_anchor,
h4:hover a.section_anchor, h5:hover a.section_anchor, h6:hover a.section_anchor { display: inline; color: #bbb; }
h1 a.section_anchor:hover, h2 a.section_anchor:hover, h3 a.section_anchor:hover,
h4 a.section_anchor:hover, h5 a.section_anchor:hover, h6 a.section_anchor:hover { color: #33c; }


pre.prettyprint {
  margin-left: 2em;
  padding: 0.5em;
  border-left: 3px solid #ccc;
}

.issuedescription pre, .issuecomment pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

.prettyprint .str { color: #080; }
.prettyprint .kwd { color: #008; }
.prettyprint .com { color: #800; }
.prettyprint .typ { color: #606; }
.prettyprint .lit { color: #066; }
.prettyprint .pun { color: #660; }
.prettyprint .pln { color: #000; }
.prettyprint .tag { color: #008; }
.prettyprint .atn { color: #606; }
.prettyprint .atv { color: #080; }
.prettyprint .dec { color: #606; }

@media print {
  .prettyprint .str { color: #060; }
  .prettyprint .kwd { color: #006; font-weight: bold; }
  .prettyprint .com { color: #600; font-style: italic; }
  .prettyprint .typ { color: #404; font-weight: bold; }
  .prettyprint .lit { color: #044; }
  .prettyprint .pun { color: #440; }
  .prettyprint .pln { color: #000; }
  .prettyprint .tag { color: #006; font-weight: bold; }
  .prettyprint .atn { color: #404; }
  .prettyprint .atv { color: #060; }
}

.closed_ref { text-decoration: line-through }

.notes {
  background: #ffc;
  border: 1px solid #999;
  border-width: 0 1px 1px 0;
  padding: 2px; width: 818px;
}

.rowmajor th { text-align: right;}
.labelediting input { margin: 0 3px 4px 0; }
.labelediting input { color: #060; }

.collapse .ifExpand { display: none }
.expand .ifCollapse { display: none }

.inplace input { width: 100%; }
.inplace td { border: 0; }

#issueheader {
  margin: 0.5em 0 0em 0;
  border: 3px solid #c3d9ff;
  background: #c3d9ff;
}
#issueheader td { background: #c3d9ff; }

.closed_colors #issueheader { background: #ddd; border-color: #ddd; }
.closed_colors #issueheader td { background: #ddd; }

.issuepage { margin-top: 0; }
.issuepage td { padding: 0.5em .5em .5em 0; }

.issuecomment { border-top: 3px solid #c3d9ff;}
.closed_colors .issuecomment { border-color: #ddd; }

.issuedescription pre, .issuecomment pre { overflow: hidden; padding-left:.7em;}

.issuedescription pre b, .issuecomment pre b {
  font-size: 110%;
  font-weight: bolder;
  padding: 3px 0 3px 0;
}

.author { padding-left: .7em; }

#issuemeta {
  width: 12em;
  border-right: 3px solid #c3d9ff;
  font-size: 95%;
  vertical-align: top;
}
.closed_colors #issuemeta { border-color: #ddd; }


#issuemeta table tr.hover a { text-decoration: underline }
#issuemeta table td, #issuemeta table th {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.rel_issues a { white-space: nowrap;}

.updates { margin: 1em 0 0 .7em; background: #c3d9ff; width: 80%; font-size: 90%; }
.closed_colors .updates { background: #c8c8c8; }
.fakelink {color: #0000cc; cursor: pointer; white-space: nowrap;}
.undef { color: #666; }

table.advquery, table.issueimport { border: 3px solid #c3d9ff;}
table.advquery td, table.issueimport td { white-space: nowrap; padding: 2px; }
.focus td { background: #c3d9ff; }

.eg { color: #666; font-size: 90%; }

#submit { font-weight: bold; }

div td .novel { color: #430;}
div td .blockingsubmit { color: #a03;}

div td .exclconflict { color: #a03;}
div td .questionmark { color: #a03;}

.delcom { background: #e8e8e8 }

.numberentry { text-align: right; }
